


nz-content {
  background-color: #1fad45;
}

.main-content {
  background-color: #1fad45;
  width: 100vw;
  height: 100vh;
}

.card-img {
  height: 18vh;
}

h4 {
  color: white;
}

.header-row, .top-row, .middle-row, .bottom-row, .main-row {
  background-color: #1fad45;
  width: 98vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.header-row {
  margin-top: 1vh;
  text-align: right;
  height: 15vh;
}

.top-row, .middle-row {
  height: 22vh;
}

.main-row {
  height: 44vh;
}

.bottom-row {
  height: 40vh;
}

.body-text {
 color: white;
}

.replay-text {
  /*color: white;*/
  font-weight: bold;
}

.card-area {
  position: relative;
}

.card-each {
  position: absolute;
  top: 0px;
}
