<nz-layout  >
  <nz-content>
    <div class="header-row">
      Deal Count: {{ dealCount }}
      &nbsp;
      Running Count: {{ runningCount }}
      <button nz-button nzType="danger" (click)="hitPlayer()">Hit Me!</button>
      &nbsp;
      <nz-select [(ngModel)]="numPlayers" nzPlaceHolder="Number of Players" (ngModelChange)="changedPlayersNum()">
        <nz-option [nzValue]="2" [nzLabel]="'2 Players'" ></nz-option>
        <nz-option [nzValue]="3" [nzLabel]="'3 Players'" ></nz-option>
        <nz-option [nzValue]="4" [nzLabel]="'4 Players'" ></nz-option>
      </nz-select>
      &nbsp;
      <button nz-button nzType="default" (click)="restartGame()">Restart</button>
      &nbsp;
      <button nz-button nzType="primary" (click)="shuffleAndRestartGame()">Shuffle and Restart</button>
    </div>
    <div class="top-row">
      <div nz-row >
        <ng-container *ngFor="let handCards of playerHands" >
          <div nz-col [nzSpan]="this.playerSpan">
            <ng-container *ngFor="let card of handCards">
              <img [src]="'assets/cards/' + card.suit + '-' + card.value + '.svg'" [style.height]="'75px'"/>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="middle-row">
      <div nz-row >
        <div nz-col [nzSpan]="24">
          <ng-container *ngFor="let card of hitStack">
            <img [src]="'assets/cards/' + card.suit + '-' + card.value + '.svg'" [style.height]="'75px'"/>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="bottom-row">

      <form nz-form nzLayout='vertical' nz-row>
        <div nz-col nzSpan="8"></div>
        <nz-form-item nz-col nzSpan="6">
          <nz-form-label nzFor="current_count" >
            <span class="body-text" >Current Count</span>
          </nz-form-label>
          <nz-form-control>
            <input
              name="current_count"
              [(ngModel)]="currentCount"
              [style.border]="(invalidCurrentCount) ? 'solid 1px red': ''"
              nz-input type="text"
              class="ant-input" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col nzSpan="6">
          <nz-form-label>&nbsp;</nz-form-label>
          <nz-form-control >
            <button nz-button nzType="primary" (click)="setCountAndDeal()">Next</button>
          </nz-form-control>
        </nz-form-item>
        <div nz-col nzSpan="4"></div>
      </form>

<!--      <form nz-form nzLayout='vertical' nz-row nzJustify="end" [nzGutter]="[0, 0]">-->
<!--        <nz-form-item nz-col nzSpan="4">-->
<!--          <nz-form-label>&nbsp;</nz-form-label>-->
<!--          <nz-form-control [style.padding-left]="'20px'">-->
<!--            <button nz-button nzType="default" >Start</button>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--        <nz-form-item nz-col nzSpan="4">-->
<!--          <nz-form-label>&nbsp;</nz-form-label>-->
<!--          <nz-form-control >-->
<!--            <button nz-button nzType="primary" >Previous</button>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--        <nz-form-item nz-col nzSpan="4">-->
<!--          <nz-form-label nzFor="previous_count" >-->
<!--            <span class="body-text" >Previous Count</span>-->
<!--          </nz-form-label>-->
<!--          <nz-form-control>-->
<!--            <input name="previous_count" nz-input type="text" class="ant-input" [style.width]="'80%'"/>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--        <nz-form-item nz-col nzSpan="4">-->
<!--          <nz-form-label nzFor="current_count" >-->
<!--            <span class="body-text" >Current Count</span>-->
<!--          </nz-form-label>-->
<!--          <nz-form-control>-->
<!--            <input name="current_count" nz-input type="text" class="ant-input" [style.width]="'80%'" />-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--        <nz-form-item nz-col nzSpan="4">-->
<!--          <nz-form-label>&nbsp;</nz-form-label>-->
<!--          <nz-form-control >-->
<!--            <button nz-button nzType="primary" >Next</button>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--        <nz-form-item nz-col nzSpan="4">-->
<!--          <nz-form-label>&nbsp;</nz-form-label>-->
<!--          <nz-form-control >-->
<!--            <button nz-button nzType="default" >End</button>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--      </form>-->

<!--      <form nz-form nzLayout='vertical' nz-row nzJustify="end" [nzGutter]="[0, 0]">-->
<!--        <nz-form-item nz-col nzSpan="4">-->
<!--          <nz-form-label>&nbsp;</nz-form-label>-->
<!--          <nz-form-control >-->
<!--            &nbsp;-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--        <nz-form-item nz-col nzSpan="4">-->
<!--          <nz-form-label>&nbsp;</nz-form-label>-->
<!--          <nz-form-control >-->
<!--            &nbsp;-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--        <nz-form-item nz-col nzSpan="4">-->
<!--          <nz-form-label nzFor="previous_count" >-->
<!--            <span class="body-text" >Real Prev Count</span>-->
<!--          </nz-form-label>-->
<!--          <nz-form-control>-->
<!--            <input name="previous_count" nz-input type="text" class="ant-input" [style.width]="'80%'"/>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--        <nz-form-item nz-col nzSpan="4">-->
<!--          <nz-form-label nzFor="current_count" >-->
<!--            <span class="body-text" >Real Count</span>-->
<!--          </nz-form-label>-->
<!--          <nz-form-control>-->
<!--            <input name="current_count" nz-input type="text" class="ant-input" [style.width]="'80%'" />-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--        <nz-form-item nz-col nzSpan="4">-->
<!--          <nz-form-label>&nbsp;</nz-form-label>-->
<!--          <nz-form-control >-->
<!--            <button nz-button nzType="danger" >Replay Deck</button>-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--        <nz-form-item nz-col nzSpan="4">-->
<!--          <nz-form-label>&nbsp;</nz-form-label>-->
<!--          <nz-form-control >-->
<!--            &nbsp;-->
<!--          </nz-form-control>-->
<!--        </nz-form-item>-->
<!--      </form>-->
    </div>
  </nz-content>
</nz-layout>
